<%= form_with model: article do |form| %>
  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div class="mb-3">
    <%= form.label :content, class: "form-label" %>
    <%= form.rich_text_area :content, data: { trix_accepts: '' }, class: "form-control" %>
    <% article.errors.full_messages_for(:content).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  
  <div>
    <%= form.label :status %><br>
    <%= form.select :status, Visible::VALID_STATUSES, selected: article.status || 'public' %>
  </div

  <div >
  <%= form.submit "Submit", class: "btn btn-primary mb-3" %>
  <%= link_to "Back To Articles", articles_path, class: "btn btn-secondary" %>
</div>
<% end %>
